body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  background-color: black;
  height: 685px;
  width: 100vw;
}
.h1 {
  color: #0af8db;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  background-color: #d912ae;
  height: 2rem;
  width: 100vw;
}
.backImage {
  background-repeat: no-repeat;
  background-image: url(./Images/backImage.jpg);
  background-size: cover;
  width: 100%;
  height: 50rem;
}

.h1home2{
  color:  #e203b1;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.h2home2{
  display: flex;
  justify-content: center;
  color: #0af8db;
}
