*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  background-color: black;
  height: 30rem;
}
.h1 {
  color: #0af8db;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  background-color: #d912ae;
  height: 2rem;
}
.backImage {
  background-repeat: no-repeat;
  background-image: url(./Images/backImage.jpg);
  background-size: cover;
  width: 100%;
  height: 50rem;
}

.h1home2{
  color:  #e203b1;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.h2home2{
  display: flex;
  justify-content: center;
  color: #0af8db;
}

.stayAcquaintedPart{
  background-color: black;
  height: 20rem;

}

.stayAcquaintedContainer{
  display: flex;
  font-display: column;
  gap: 10rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  
}
/* .stayAcquaintedContainer img .stayAImage{
 border-radius: ;
} */
.h1SAW1{
  color:  #e203b1;
}

.h2SAW{
  color: #0af8db;

}
.activelyContributePart{
  background-color: rgb(21, 3, 3);
  height: 25rem;
}
.activelyContributeContainer{
  display: flex;
  gap: 15rem;
  margin-left: 10rem;
  margin-top: 5rem;

}

.ACW1{
  color: #e203b1;
}
.ACW{
  color: #0af8db;
}

.AContributeImage{
  border-radius: 5rem;
}


/* ============================================ */
              /* MOVIES AND TV SHOWS COMPONENT */
/* ============================================== */
/* .movieHeader{
  color: #0af8db;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}
.moviesHeaderBackground{
  background-color: #000000;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviesBackground{
  background-color: #edc00f;
  height: auto;
  display: grid;
  grid-template-columns: 70% 1% 29%;
}
.renderMovies{
  background-color:#1f1e1e;
  display: flex;
  justify-content: center;

}
.innerMovieCard{
  background-color:rgb(0, 0, 0);
  border-radius: 3rem;
  height: auto;
  width: 65rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem 0rem 1rem 0rem;

}

.allMovieDescription{
  background-color: #1b1a1a;
  padding: 1rem;
  border-radius: 3rem;
  margin-right: 1rem;
}
.imageDetails{
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 3rem;
}
.imageDetails span {
  color: #0af8db;
}
.imageDetails .movieName{
  color: #e203b1;
}

.imageDetails .movieDescription{
  color: #e203b1;
}

.imageDetails .movieGenre{
  color: #e203b1;
}


.imageDetails .movieRating{
  color: #e203b1;
}
.flexWrapMdetails{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
}
.spacer{
  background-color: #000000;
}
.renderForm{
  background-color: #1f1e1e;
  display: flex;
  justify-content: center;
}
.addPoemForm{
  background-color: #000000;
  height: 40rem;
  width: 25rem;
  margin-top: 4rem;
  border-radius: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;

}
/* .movieForm{
  margin-top: 3rem;

} */

.movieForm{
  margin-top: 0rem;
  padding: 3rem;
}

label{
  color: #e203b1;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1.3rem;
}
input{
  background-color: #0af8db;
}
textarea{
  background-color: #0af8db;
}

input[type=text] {
  width: 90%;
  padding: 9px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}
input[type=url] {
  width: 90%;
  padding: 9px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 90%;
  padding: 9px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
label input placeholder{
  color: rgb(254, 254, 254);
  font-size: 3rem;
}
.submitMovie{
  padding: 9px;
  background-color: #0af8db;
}
.submitMovie:hover{
  background-color: #d912ae;
  transition: 850ms;
  cursor: default;
} 

.entireMoviesBackground{
  background-color: rgb(31, 31, 31);
  height: 60rem;
}
.moviesHeader{
  background-color: black;
  display: flex;
  justify-content: center;
}
.headerH1{
  color: #0af8db;
}
.largerMovieHolder{
  background-color: black;
  width: 65%;
  height: 50rem;
  margin-left: 1rem;
  border-radius: 1rem;
}
h1{
  color:white;
}

.moviesComponentHeader{
  background-color: black;
  display: flex;
  justify-content: center;
  padding:1rem ;
}
.componentHeader{
  color: #0af8db;
}



.larger{
  height: auto;
  background-color: #201f1f;
}

.smallerLarger{
  background-color: #111010;
  width: 68%;
  float: left;
}


.display{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin-left: 2rem;
  
}

.smallerLarger2{
  background-color: #2b2b2a;
  width: 30%;
  float: right;
  height: auto;
  border-radius: 3rem;
}

.recommendHeader{
  background-color: #0d0c0c;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/* Review Component */

.Reviewbackground{
  background-color: #0d0c0c;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.ReviewbackgroundCentre{
  background-color: #201f1f;
  width: 85%;
  

}

.myH1{
  margin-top: 3rem;
  text-align: center;
}

