*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  background-color: black;
  height: 30rem;
}
.h1 {
  color: #0af8db;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  background-color: #d912ae;
  height: 2rem;
}
.backImage {
  background-repeat: no-repeat;
  background-image: url(./Images/backImage.jpg);
  background-size: cover;
  width: 100%;
  height: 50rem;
}

.h1home2{
  color:  #e203b1;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.h2home2{
  display: flex;
  justify-content: center;
  color: #0af8db;
}

.stayAcquaintedPart{
  background-color: black;
  height: 20rem;

}

.stayAcquaintedContainer{
  display: flex;
  font-display: column;
  gap: 10rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  
}
/* .stayAcquaintedContainer img .stayAImage{
 border-radius: ;
} */
.h1SAW1{
  color:  #e203b1;
}

.h2SAW{
  color: #0af8db;

}
.activelyContributePart{
  background-color: rgb(21, 3, 3);
  height: 25rem;
}
.activelyContributeContainer{
  display: flex;
  gap: 15rem;
  margin-left: 10rem;
  margin-top: 5rem;

}

.ACW1{
  color: #e203b1;
}
.ACW{
  color: #0af8db;
}

.AContributeImage{
  border-radius: 5rem;
}


/* ============================================ */
              /* MOVIES AND TV SHOWS COMPONENT */
/* ============================================== */
.movieHeader{
  color: #0af8db;
  display: flex;
  justify-content: center;
  margin: 0;

}
.moviesHeaderBackground{
  background-color: #110101;
}
.moviesBackground{
  background-color: #da1515;
  height: 40rem;
  display: grid;
  grid-template-columns: 70% 1% 29%;
}
.renderMovies{
  background-color:#000000;

}
.innerMovieCard{
  background-color:rgb(29, 20, 20);
  border-radius: 3rem;
  height: 40rem;
  width: 55rem;
  margin: 5rem 5rem 5rem 5rem;
}
.spacer{
  background-color: #1a0505;
}
.renderForm{
  background-color: #000000;
}
